* {
	box-sizing: border-box;
}

/*---------------- BODY -----------------------*/

body {
	font-family: $defaultFont;
	font-size: 16px;
	font-weight: $normalWeight;
}

/*----------------- HEADER --------------------*/

header {
	height: 110px;
	background-image: url(../images/jezioro.jpg);
	position: relative;
	h1,
	h2 {
		padding-left: $gutter;
		font-weight: $normalWeight;
		margin-left: 150px;
		color: #fff;
        text-shadow: 5px 5px 10px rgb(8, 8, 8);
	} //end both
	figure.logo {
		position: absolute;
		bottom: 0;
		left: 2%;
	}
	h1 {
		font-size: 2rem;
		padding-top: 35px;
	} //end h1
	h2 {
		font-size: 1rem;
	} //end h2
}

/*------------------ NAV ----------------*/

nav {
    ul {
        display: flex}
	background-color: $secondaryColor;
	border-bottom: 1px solid rgba(0, 0, 0, .3);
	ul li {
		width: 20%;
		border-right: 1px solid rgba(0, 0, 0, .3);
	} //end li
	ul li:last-child {
		border-right: none;
	}
	ul li a {
		display: block;
		text-align: center;
		font-weight: $boldWeight;
		padding: .5rem 0;
		color: $primaryColor;
		text-decoration: none;
	} //end anchors
	ul li.active a {
		background-color: darken($secondaryColor, 10%);
	} //end active
	ul li a:hover {
		color: $secondaryColor;
		background-color: $primaryColor;
	} //end hover
} //end nav
/*----------------------- MAIN ------------------*/

main {
	min-height: 20rem;
	h1 {
		font-size: 2rem;
		margin: 1rem 0 0 $gutter;
		color: $primaryColor;
	} //end h1
	h2 {
		font-size: 1.5rem;
		margin: .75rem 0 0 $gutter;
		color: lighten($primaryColor, 10%);
	} //end h2
	p {
		line-height: 130%;
		margin: 0 $gutter;
	} //end p
	article {
		margin: .5rem $gutter;
	}
	figure.photoA img,
	figure.photoB img {
		width: 100%;
	}
	figure.photoA {
		width: 50%;
		margin: 0 $gutter;
		float: right;
	}
	figure.photoB {
		width: 96%;
		margin: 0 $gutter;
	}
	figure.photoA figcaption,
	figure.photoB figcaption {
		text-align: center;
		font-weight: $boldWeight;
		color: $secondaryColor;
	}
} //end main
/*---------------- FOOTER -------------*/
